pytest==5.2.1; python_version >= '3.0'
pytest==5.2.1; python_version < '3.0'
setuptools==41.0.1
pandas==0.24.2
numpy==1.16.4
astropy==3.2.1; python_version >= '3.0'
astropy==2.0.9; python_version < '3.0'
matplotlib==3.1.0; python_version >= '3.0'
matplotlib==2.2.3; python_version < '3.0'
astropy_sphinx_theme==1.1 # pyup: ignore